body{
    font-family: 'Nunito', sans-serif;
}
#capa-principal{
    background: rgb(100,126,26);
    background: linear-gradient(180deg, rgba(100,126,26,1) 0%, rgba(134,172,28,1) 100%);
    color:whiter;
}
.nav-link{
    font-size: 1.1em;
}
.nav-link:hover{
    background: #548235;
    color:white !important;
}

.noticia-carousel{
    padding-left: 80px;
    padding-right: 80px;
}